@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@keyframes mover {
    0%{
        background-position: 0%;
        background-color: black
    }
    25%{
        background-position: 25%;
        background-color: darkgray;
    }
    50%{
        background-position: 50%;
        background-color:gray
    }
    75%{
       background-position: 75%;
        background-color:lightgray
    }
    100%{
        background-position: 100%;
        background-color:white
    }
}
body{ 
      animation: mover 5s infinite alternate ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
main{
    padding: 20px;
}
*{
    font-family: "Domine", serif;
  font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    border-radius: 20px;
    border: 2px solid white;
}
h1{
    font-family: "Nosifer", sans-serif;
  font-weight: 500px;
    font-size: 50px;
    color: red;
}
.card{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    width: 500px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 10px 20px black;
    padding: 0;
    margin: 0;

}
.card img{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    border: 2px solid white;

}
h2{
    color: white;
    display: flex;
    justify-content: first baseline;
    padding: 0;
    
}
p{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
button{
    font-size: 20px;
    padding: 5px ;
    margin: 5px;
    border-radius: 10px;
    border-bottom: none;
    font-family: "Domine", serif;
    background: linear-gradient(to right,
    black 0%, black 50% ,gray 100%);
    color: white;
}
#1{
    height: 70px;    
}
a{
    text-decoration: none;
    color: white;
}


 